<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>139069917627-a6m2veu72g0vurhh4bi6slsk9nvde0i9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139069917627-a6m2veu72g0vurhh4bi6slsk9nvde0i9</string>
	<key>API_KEY</key>
	<string>AIzaSyDiy7RU8LOILP-cvKIv-kEVW8A0UtrXgv8</string>
	<key>GCM_SENDER_ID</key>
	<string>139069917627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thanhle.memodia</string>
	<key>PROJECT_ID</key>
	<string>memodia-thanhle</string>
	<key>STORAGE_BUCKET</key>
	<string>memodia-thanhle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139069917627:ios:8d988ba74265287a70dc9e</string>
</dict>
</plist>